:global {
  @font-face {
    font-display: swap;
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('/gilroy/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
}
